<%- include('partials/header.ejs'); -%>

<div class="col-lg-6 col-xxl-4 my-5 mx-auto">
  <div class="d-grid align-items-center justify-content-center">
    <h1 class="mb-4"><%= rBookNotes[0].name %>'s Notes </h1>
    <form action="/add" method="post">
      <button class="btn btn-primary ms-5" type="submit">New Book Note</button>
    </form>
  </div>
  <div class="d-grid align-items-right justify-content-right">
    <div class="dropdown position-fixed top-0 end-0 mb-3 me-3 bd-mode-toggle">
      <a class="btn btn-light btn-outline-dark" href="/logout" role="button">Log Out</a>
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
      
        Sort By
      
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/title">Title</a>     
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/date">Date </a>     
        </li>
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/rating">Rating</a>     
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <% for(let bookNote of rBookNotes){
      
      
      var d = new Date(bookNote.date);
      
      %>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://covers.openlibrary.org/b/isbn/<%=bookNote.isbn%>-L.jpg" alt="bookCover" width="100" height="150" class="flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"><%= bookNote.title%> by <%= bookNote.author%></h6>
            <p class="mb-0 opacity-75"><%= bookNote.notes%></p>
            <div class="mt-4">
              <form action="/" method="post">
                <input type="hidden" name="bookNote" value="<%= JSON.stringify(bookNote) %>">
                <button class="btn btn-outline-primary" name="editBookNote" type="submit">Edit Book Note</button>
                <button class="btn btn-outline-danger" name="deleteBookNote" formaction="/delete" type="submit">Delete Book Note</button>
              </form>
            </div>
          </div>
          <small class="opacity-50 text-nowrap">Date Read: <%=d.toLocaleDateString()%></small>
          <small class="opacity-50 text-nowrap"> Rating: <%= bookNote.rating%>/10</small>
        </div>

      </a>

    <%} %>
    
  </div>
</div>
<%- include('partials/footer.ejs'); -%>